<!DOCTYPE html>
<html lang="en" style=" scroll-behavior: smooth;">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hoteis</title>
    <link href="./assets/css/normalize.css" rel="stylesheet">
    <link href="./assets/css/reset.css" rel="stylesheet">
    <link href="./assets/css/style.css" rel="stylesheet">
    <link href="./assets/css/destaques.css" rel="stylesheet">
    <link href="./assets/css/responsivo.css" rel="stylesheet">
    <link href="./assets/css/navbar.css" rel="stylesheet">
</head>

<body class="app">
    <div id='navbar'>
        <ul>
            <li><a href="#centro">Home</a></li>
            <li><a href="#ht">Hoteis Disponíveis</a></li>
            <li><a href="#ns">Sobre nós</a></li>
            <li><a>Login</a></li>
        </ul>
    </div>
    <main class="conteudo">

        <section id="centro" class="centro">
            <div class="imgi">
                <div class="title">
                    <h1>o hotel é uma empresa de prestação de serviços e diferencia-se de outros estabelecimentos
                        industriais ou comerciais. </h1>
                    <p style="padding-top: 5%; font-size: 10px"></p>
                </div>
                </header>
            </div>

        </section>
        <div class="topico">Hoteis Disponíveis</div>
        <section id="ht" class="destaques">

            <a href="/hotel/1" class="destaques__secundario_01 caixa">
                <h3 class="destaques__titulo">Hotel 01</h3>
            </a>
            <a href="/hotel/2" class="destaques__secundario_02 caixa">
                <div class="destaques__secundario_02 caixa">
                    <h3 class="destaques__titulo">Hotel 02</h3>
                </div>
            </a>

            <a href="/hotel/3" class="destaques__secundario_03 caixa">
                <div class="destaques__secundario_03 caixa">
                    <h3 class="destaques__titulo">Hotel 03</h3>
                </div>
            </a>
            
            <div class="destaques__secundario_04 caixa">
                <h3 class="destaques__titulo">Hotel 04</h3>
            </div>
            <div class="destaques__secundario_01 caixa">
                <h3 class="destaques__titulo">Hotel 01</h3>
            </div>
            <div class="destaques__secundario_02 caixa">
                <h3 class="destaques__titulo">Hotel 02</h3>
            </div>
            <div class="destaques__secundario_03 caixa">
                <h3 class="destaques__titulo">Hotel 03</h3>
            </div>
            <div class="destaques__secundario_04 caixa">
                <h3 class="destaques__titulo">Hotel 04</h3>
            </div>
            <div class="destaques__secundario_02 caixa">
                <h3 class="destaques__titulo">Hotel 02</h3>
            </div>
            <div class="destaques__secundario_03 caixa">
                <h3 class="destaques__titulo">Hotel 03</h3>
            </div>
            <div class="destaques__secundario_04 caixa">
                <h3 class="destaques__titulo">Hotel 04</h3>
            </div>
            <div class="destaques__secundario_04 caixa">
                <h3 class="destaques__titulo">Hotel 04</h3>
            </div>
        </section>
        <div class="topico" id="ns">Sobre nós</div>
        <div class="nos">
            <p>dois estudantes de Eng. da Computação desenvolvendo um site de reservas de hotéis para a matéria de
                Sistemas Distribuídos</p>

            <div class="fotos">
                <div>
                    <img class="bibli" src="/assets/img/yuro.jpg" alt="Avatar"> jefferson yure

                </div>
                <div>
                    <img class="bibli" src="/assets/img/20220915_180753.jpg" alt="Avatar">
                    Warley Galvão

                </div>
            </div>
        </div>
    </main>
    <footer class="rodape">Todos os direitos reservados &copy;</footer>
    <script src="./assets/js/fontawesome.all.min.js"></script>
</body>

</html>